body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/*Override styles*/
.container {
	width: auto;
}
.navbar {
	margin-bottom: 0px;
}
.textleft {
	text-align: left;
}
a {
	color: #181e28;
}
a:hover {
	color: #f9f9f9;
}
.navbar-nav li a:hover {
	background-color: #45494f;
}
.nav-stacked li a,.nav-stacked li a:hover, .navbar {
	border-radius: 0px;
}
.nav-stacked li a:hover {
	background-color: #45494f;
}
.sidebar.col-sm-3 {
	padding-left: 0px;
	padding-right: 0px;
}
/*New styles*/
.sidebar {
	background-color: #DDD;
}
.sidebar h4 {
	padding-left: 15px;
}
.navbar {
	background-color: #6d9ce8;
}
.maincol {
	margin-top: 20px;
}
.maincol h2 {
	margin-top: 0px;
}
.input-group {
	padding: 10px;
}
.form-horizontal {
	padding-top: 20px;
}
.treeview {
	padding-left: 20px;
}
.buttongroup {
	margin: 15px 5px 0px 5px;
	display: inline-block;
}
.rendercode {
	margin: 10px 0px;
}