body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/*Override styles*/
.container {
	width: auto;
}
.navbar {
	margin-bottom: 0px;
}
.textleft {
	text-align: left;
}
a {
	color: #181e28;
}
a:hover {
	color: #f9f9f9;
}
.navbar-nav li a:hover {
	background-color: #45494f;
}
/*New styles*/
.sidebar {
	background-color: #DDD;
}
.navbar {
	background-color: #6d9ce8;
}
.maincol {
	margin-top: 20px;
}
.maincol h2 {
	margin-top: 0px;
}